/*body {
  margin: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
.abc{
  background-color: #282c34;
  color: white;
  padding: 250px;
  font-family: Arial;
  text-align: center;
}
.add{
  background-color: #F0F8FF;
    position:absolute;
    left: 950px;
	top: 500px;
}
.back{
  background-color: #F0F8FF;
  position:absolute;
  left: 50px;
top: 500px;
}
.main{
  position:sticky;
  text-align: inherit
}